* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 12rem;
  height: 11rem;
}

header {
  min-height: 12vh;
  background: linear-gradient(0deg,  rgb(0, 0, 0) 0%,  rgb(245, 194, 8) 100%);
}
/* #navbar {
  background: rgb(233, 240, 27);
  background: linear-gradient(0deg, rgba(247, 198, 3, 0.864) 0%,  rgb(247, 220, 18) 100%);
  padding: 1.3rem;
  border-radius: 1rem;
  box-shadow: rgba(4, 38, 77, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
} */
main {
  min-height: 78vh;
}
footer {
  min-height: 12vh;
  background: linear-gradient(0deg,  rgb(245, 194, 8) 100%, rgb(185, 109, 3) 0%);
  box-shadow: rgba(3, 3, 3, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#navbar a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgb(36, 36, 36);
  border: 2px solid yellow;
}

#navbar a:hover {
  color:yellow;
  transform: scale(1.2);
  transition: color 0.5s ease;
}

#mainTitle {
  text-shadow: black 1px 3px;
}

#titleContainer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  background: rgb(215, 184, 25);
  width: 40rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(4, 38, 77, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

video {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#imgAccount {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  background: rgb(238, 202, 0);
  background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(13, 13, 13, 0.789) 100%);
}


#accountMainContainer {
  width: 37rem;
  height: 28rem;
  padding-left: 1rem;
  border-radius: 1rem;
 background-image: url(../asset/transactions5.jpeg); 
  background-size: cover;
  border: 3px solid rgb(247, 255, 1);
}
.h3{
  background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(248, 245, 56, 0.695) 100%);
  color: black;
  padding: 0.4rem;
  border-radius: 2rem;
  border: 2px solid white;
}

.accountContainer {
  width: 16rem;
height: 21rem;
border: 2px solid yellow;
  background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgba(0, 0, 0, 0.695) 100%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  margin: 1rem;
  border-radius: 2rem;
}

#selectAccountMsg {
  background-color: yellow;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem !important;
}

.logito{
 width: 4rem; 
}

/* loans */
.accountContaines {
  width: 12rem;
  height: 15rem;
  background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgba(0, 0, 0, 0.695) 100%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  margin: 1rem;
  border-radius: 2rem;
  border: 1px solid yellow;
}
#loanContainer {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  border: 2px solid rgb(247, 255, 1);
 background-image: url(../asset/transactions5.jpeg); 
  background-size: cover;
}
