*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

  .logo {
    width: 12rem;
    height: 11rem;
   
  }
  header {
    min-height: 12vh;
    background: linear-gradient(0deg,  rgb(0, 0, 0) 0%,  rgb(245, 194, 8) 100%);
  }
  /* #navbar {
    background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(13, 13, 13, 0.695) 100%);
    padding: 1.3rem;
    border-radius: 1rem;
    box-shadow: rgba(4, 38, 77, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  } */
  
  #navbar a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(36, 36, 36);
    border: 2px solid yellow;
  }
  
  #navbar a:hover {
    color: rgb(234, 219, 1);
    transform: scale(1.2);
    transition: color 0.5s ease;
  }
  
main {
    min-height: 68vh;
  }
  
  footer {
    min-height: 10vh;
    background: linear-gradient(0deg,  rgb(245, 194, 8) 100%, rgb(185, 109, 3) 0%);
    box-shadow: rgba(3, 3, 3, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  .logito{
    width: 4rem; 
    height: 4rem;
   }
  .container{
   
    width: 50rem;
    height: 20rem;
    padding: 1rem;
   margin: 2rem;
    border-radius: 1rem;
   background-image: url(../asset/bg-img-bank2.jpg); 
    background-size: cover;
  }
  .titulos{
    background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(235, 183, 11, 0.695) 100%);
    padding: 0.5rem;
  }
  #loanContainer {
    width: 30rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(0, 0, 0);
   background-image: url(../asset/transactions5.jpeg); 
    background-size: cover;
  }
  .accountContaines {
    width: 12rem;
    height: 16rem;
    background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgba(0, 0, 0, 0.695) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    margin: 1rem;
    border-radius: 2rem;
    border: 1px solid yellow;
  }
  
  @media only screen and  (max-width: 520px) {
    .container{
      width: 20rem;
      height: 25rem;
      border-radius: 1rem;
     background-image: url(../asset/bg-img-bank2.jpg); 
      background-size: cover;
      padding: 0;
      margin: 0;
    }
    .table{
      width: 100%;
    }
    .titulos{
      background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(235, 183, 11, 0.695) 100%);
      padding: 0;
    }
    footer {
      min-height: 12vh;
      flex-direction: column;
     
    }
  }
  
