*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

  .logo {
    width: 12rem;
    height: 11rem;
   
  }
  header {
    min-height: 12vh;
    background: linear-gradient(0deg,  rgb(0, 0, 0) 0%,  rgb(245, 194, 8) 100%);
  }
  /* #navbar {
    background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(13, 13, 13, 0.695) 100%);
    padding: 1.3rem;
    border-radius: 1rem;
    box-shadow: rgba(4, 38, 77, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  } */
  
  #navbar a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(36, 36, 36);
    border: 2px solid yellow;
  }
  
  #navbar a:hover {
    color: rgb(234, 219, 1);
    transform: scale(1.2);
    transition: color 0.5s ease;
  }
  
main {
    min-height: 68vh;
    background-image: url(../asset/money-gc38889a2e_1280.jpg);
    background-size: cover;
  }
  
  footer {
    min-height: 12vh;
    background: linear-gradient(0deg,  rgb(245, 194, 8) 100%, rgb(185, 109, 3) 0%);
    box-shadow: rgba(3, 3, 3, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  .logito{
    width: 4rem; 
    height: 4rem;
   }
  .container{
   
    width: 50rem;
    min-height: 15rem;
    padding: 1rem;
   margin: 2rem;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(217,126,46,1) 9%, rgba(246,184,47,1) 32%, rgba(27,24,14,1) 69%);
  }
  .titulos{
    background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(235, 183, 11, 0.695) 100%);
    padding: 0.5rem;
  }
 
  .div-trans {
    min-height: 5em;
   margin-bottom: 4rem;
  }
  .text-trans {
    font-weight: 500;
    font-size: 20px;
  }
  .span {
    color: #e7d49e;
    font-weight: bold;
  }
  .DEBIT {
    color: red !important;
  }
  .CREDIT {
    color: rgb(10, 223, 10) !important;
  }
  .table {
    box-shadow: 1px 2px 10px 2px #e7d49e;
  }
  .btn-account {
    padding: 15px;
    border-radius: 10px;
    width: 10rem;
    background: rgb(244,110,87);
  background: linear-gradient(90deg, rgba(244,110,87,1) 9%, rgba(247,7,7,1) 27%, rgba(138,10,10,1) 69%);
    color: rgb(255, 251, 251);
    font-weight: bold;
    border-bottom: 4px solid #ffffff;
    border-right: 2px solid #fffefb;
  }
  .accountContaines {
    width: 12rem;
    height: 16rem;
    background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgba(0, 0, 0, 0.695) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    margin: 1rem;
    border-radius: 2rem;
    border: 1px solid yellow;
  }
  .containerTrasf{
    width: 20rem;
    height: 10rem;
padding: 1rem;
border: 5px solid yellow;
    border-radius: 1rem;
   background-image: url(../asset/desktop-wallpaper-gold-color-gold-colour.jpg); 
    background-size: cover;
  }
  .containerTrasfs{
    width: 20rem;
    height: 12rem;
    border: 5px solid yellow;
padding: 1rem;
    border-radius: 1rem;
   background-image: url(../asset/desktop-wallpaper-gold-color-gold-colour.jpg); 
    background-size: cover;
  }
  .container2{
  max-width:40rem;
  height: 30rem;
    padding: 2rem;
   
    border-radius: 1rem;
   background-image: url(../asset/bg-img-bank2.jpg); 
    background-size: cover;
  }
  .containerTrasf1{
    width: 20rem;
    height: 23rem;
    padding: 1rem;
    border: 5px solid yellow;
    border-radius: 1rem;
   background-image: url(../asset/desktop-wallpaper-gold-color-gold-colour.jpg)
  }
  .main2{
    min-height: 62vh;
  }

  
  @media only screen and  (max-width: 520px) {
    .container{
      width: 20rem;
      min-height: 25rem;
      border-radius: 1rem;
     background-image: url(../asset/bg-img-bank2.jpg); 
      background-size: cover;
      padding: 0;
      margin: 0;
    }
    .table{
      width: 20rem;
    }
    .titulos{
      background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(235, 183, 11, 0.695) 100%);
      padding: 0;
    }
    footer {
      min-height: 12vh;
      flex-direction: column;
     
    }
    .div-trans {
      overflow-y: scroll;
    }
    .form-date {
      flex-direction: column !important;
      align-items: center !important;
    }
  }
  
