* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 12rem;
    height: 11rem;
}

header {
    min-height: 12vh;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(245, 194, 8) 100%);
}

main {
    min-height: 68vh;
    background-image: url(../asset/bg-admin.jpg);
    background-size: cover;
    
}

footer {
    min-height: 10vh;
    background: linear-gradient(0deg, rgb(245, 194, 8) 100%, rgb(185, 109, 3) 0%);
    box-shadow: rgba(3, 3, 3, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#navbar a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(36, 36, 36);
    border: 2px solid yellow;
}

#navbar a:hover {
    color: yellow;
    transform: scale(1.2);
    transition: color 0.5s ease;
}

.logito {
    width: 4rem;
}

.div-cards-create {
    background: linear-gradient(0deg,  rgb(6, 6, 6) 100%, rgb(239, 231, 231) 2%);
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
    border-radius: 2rem;
    border: solid 2px yellow;

}
select{
    width: 10rem;
    height: 2rem;

}
section{
    display: flex;
    justify-content: center;
    width: 85rem;
    height: 20rem;

}
section img{
    width: 0px;
    flex-grow: 2;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}
section img:hover{
   cursor: crosshair; 
   width: 220px;
   opacity: 1;
}