*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
  .form {
    margin-bottom: 1rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 2rem;
    background-image: url(../asset/digital-world.jpg);
  background-size: cover;
  }

  .form-label {
    font-weight: bold;
    background-color: rgb(251, 244, 244);
  }

  .table {
    width: 100%;
    border: 1px solid black;
   padding: 1rem;
   background-image: url(../asset/digital-world.jpg);
  }
  pre {
    background-image: url(../asset/bg-world.jpg);
    padding: 10px;
  }
  h2{
    text-align: center;
  }
  h1{
    text-align: center;
  }