* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../asset/fondo\ cuentas.png);
  background-size: contain;
}


.form {
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 2rem;
  background-image: url(../asset/digital-world.jpg);
  background-size: cover;
}
.form2 {
  margin-bottom: 1rem;
  width: 25rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 2rem;
  background-image: url(../asset/digital-world.jpg);
  background-size: cover;
}


main {
  min-height: 70vh;
}

.form-label {
  font-weight: bold;
  background-color: rgb(251, 244, 244);
  text-align: center;
}

.table {
  background-image: url(../asset/digital-world.jpg);
  background-size: cover;
  border-radius: 2rem;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  width: 40rem;
  min-height:20rem;
  padding:2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

#json {
  background-image: url(../asset/digital-world.jpg);
  background-size: cover;
  color: rgb(255, 254, 254);
  font-size: small;
  font-weight: bold;
  width: 20rem;
}
.logo {
  width: 12rem;
  height: 11rem;
}

header {
  min-height: 12vh;
  background: rgb(244, 144, 13);
  background: linear-gradient(0deg, rgb(245, 194, 8) 0%, rgba(13, 13, 13, 0.695) 100%);
}


#navbar a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgb(36, 36, 36);
  border: 2px solid yellow;
}

#navbar a:hover {
  color: rgb(234, 219, 1);
  transform: scale(1.2);
  transition: color 0.5s ease;
}

footer {
  min-height: 10vh;
  background: linear-gradient(0deg,  rgb(245, 194, 8) 100%, rgb(185, 109, 3) 0%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.logito {
  width: 4rem;
}
.buttonAdd {
  border-radius: 1rem;
  color: #fbf6f6;
  width: 5rem;
}
th,
td {
    width: 15rem;
    height: 3rem;
    margin: 1rem;
    margin-right: 1rem;
}
/* mediasquery */
@media only screen and (max-width: 520px){
  main{
      flex-direction: column;
  }
  header {
   flex-direction: column;

  }
 
  .table{
    width: 21rem;
    padding: 0;
    font-weight: 100;
  font-size: 12px;
  }
  .buttonAdd {
    border-radius: 1rem;
    color: white;
    width: 3rem;
    font-size: 10px;
  }
  .div-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    margin: 35px auto;
    height: 24em;
  }
  .preh3 {
    width: 50em;
    padding: 15px;
  }
  #pre {
    height: 40em !important;
    background-color: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(50px);
    overflow-x: hidden;
    border-radius: 20px;
  }
  .table {
    width: 50%;
    margin: auto;
  }
  
  
}